section {
  padding: 2rem;
}

.hero {
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .navbar {
      max-width: 100%;
      height: 5rem;
      padding-left: 2rem;
  }
  
  .logo {
      width: 80px;
  }

  .hero-img {
    max-width: 400px;
}

}